.form__input {
  padding-top: 0;
  padding-bottom: 9px;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  color: rgb(0 0 0);
  border: none;
  border-bottom: 1px solid rgb(0 0 0 /20%);
}

.form__input:focus {
  border-radius: 3px;
  outline: 2px solid rgb(59 130 246 /50%);
}

.form__input::placeholder {
  color: rgb(196 196 196);
}

